@model List<FilmListViewModel>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Film Güncelle</title>
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Film Listele</h3></div>
                    <div class="card-body">

                        @using (Html.BeginForm("FilmListeleme", "Admin", FormMethod.Post))
                        {
                         
                            <div class="form-floating mb-3">
                                <input name="minYıl" class="form-control" id="inputminYıl" type="text"  />
                                <label for="inputminYıl">Min. Tarih</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="maxYıl" class="form-control" id="inputmaxYıl" type="text"  />
                                <label for="inputmaxYıl">Max. Tarih</label>
                            </div>
                            <div class="form-group mb-3">
                                @ViewBag.ErrorMessage
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">

                                <input type="submit" class="btn btn-primary" value="Listele" />
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
     <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>
                Id
            </th>
            <th>
                Film Adı
            </th>
            <th>
                Film Yapım Yılı
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FilmID
                </td>
 
                <td>
                    @item.FilmAd
                </td>

                <td>
                    @item.FilmYapımyıl
                </td>

            </tr>
        }
    </table>


</body>
</html>
