
@model List<FilmListeleme33ViewModel>
@{
    
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Salon Listele</title>
</head>
<body>

    <table class="table table-bordered table-hover table-striped">
        <tr>
         
            <th>
                Film Adı
            </th>
           
            <th>
                Gösterdiği Filmler
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

 
                <td>
                    @item.FilmAd
                </td>

                <td>
                    @item.GösterimTarihi
                </td>
            </tr>
        }
    </table>

</body>
</html>


